<VirtualHost *:80>
  ServerName {{ vhost_name }}
  DocumentRoot {{ vhost_rootdir }}
  DirectoryIndex index.html index.php

  <Directory "{{ vhost_rootdir }}">
    AllowOverride All
    Options -Indexes

  </Directory>
</VirtualHost>
